-i https://pypi.org/simple/
# Django 5.0系
django>=5.0,<6.0
djangorestframework>=3.15.0
django-cors-headers>=4.3.0
django-rest-knox>=4.2.0

# 認証関連
djangorestframework-simplejwt>=5.3.0
djoser>=2.2.0

# データベース
psycopg2>=2.9.0
dj-database-url>=2.1.0

# API関連
drf-writable-nested>=0.7.0
drf-spectacular

# サーバー・デプロイ
gunicorn>=21.2.0
whitenoise>=6.6.0

# その他
requests>=2.31.0
